{
  "name": {{ .Name }},
  "subscriptionId": {{ .SubscriptionId }},
  "regions": {
    "primary": {{ .Regions.Primary }},
    "secondary": {{ .Regions.Secondary }},
  }
  "whitelistIPs": {{ .WhitelistIPs }}
}
